.p{
    background-color: red;
    height: 50px;
    color: white;
}
.b{
    background-color: blue;
    height: 50px;
    color: white;
}
.s{
    background-color: green;
    height: 50px;
    color: white;
}
.v{
    background-color: gray;
    height: 50px;
    color: white;
}
.m{
    background-color: blue;
    height: 50px;
    color: white;
}